<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <style>
      /* 換行寫法 */
      h1 {
        white-space: pre;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="radio" v-model="gender" value="male" />male
      <input type="radio" v-model="gender" value="female" />female
      <input type="radio" v-model="gender" value="others" />others
      <h1>{{ gender }}</h1>
    </div>

    <script>
      //v-model = 雙向綁定;
      new Vue({
        el: "#app",
        data: {
          gender:'male'
        }
      });
    </script>
  </body>
</html>
