<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vue--v-for將陣列render成元素</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <style></style>
  </head>
  <body>
    <div id="app">
      <!-- <ol>
            <li v-for="item in todoList" :class="item">{{item}}</li>
        </ol> -->
      <select>
        <option v-for="(month,index) in months" :value="index+1">{{index}}{{
          month
        }}</option>
        <!-- <option v-for="month in 12">{{month}}</option> -->
      </select>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          months: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec"
          ],
          // months: [1,2,3,4,5,6,7,8,9,10,11,12],

          todoList: [
            "PHP考試",
            "HTML5考試",
            "學好Javascript",
            "專題",
            "百萬年薪"
          ]
        },
        methods: {}
      });
    </script>
  </body>
</html>
